.msg-card{
    width: 90%;
    padding: 5px;
    margin: 5px 1px;
    border-radius: 7px;
    border: 1px solid rgb(123, 188, 235);
}
.msg-header{
    padding: 1em 3px;
    line-height: 3px;
    background-color: rgb(21, 91, 135);
    color: #fff;
    border-radius: 9px;
}

.msg-body{
    padding: 10px;
}